<!DOCTYPE html>
<html>
<head>
    <script src="../application.py"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../static/fhirLogo.jpg">
    <title>About Us</title>

    <style>
        .w3-teal {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .username {
            margin-right: 20px; /* Adjust the margin as needed */
        }
    </style>

</head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div class="w3-teal">
    <div class="w3-container">
        <h1>FHIR Visualization</h1>
    </div>
    <div class="username">
        {% if 'username' in session %}
            <h1>{{session['username']}}</h1><p><a href="/logout">Logout</a></p>
        {% else %}
            <h1>Welcome!</h1>
        {% endif %}
    </div>
</div>

<h1>About Page</h1>
<p>
Fast Healthcare Interoperability Resources (FHIR) data represents a modern approach to healthcare data exchange and interoperability standards. FHIR is designed to enable the seamless sharing of electronic healthcare information across different systems, allowing healthcare providers, patients, and other stakeholders to access and exchange data efficiently.
<br>
<h3>Usage:</h3><br>
FHIR data is utilized across various healthcare settings, facilitating the integration of disparate health IT systems such as electronic health records (EHRs), health information exchanges (HIEs), and mobile health applications. This interoperability fosters better communication among healthcare providers, leading to improved care coordination, streamlined workflows, and enhanced patient outcomes.

<h3>Importance:</h3><br>
The importance of FHIR data lies in its ability to break down data silos and promote data liquidity within the healthcare ecosystem. By standardizing data formats and protocols, FHIR enables seamless data exchange, empowering healthcare organizations to deliver more personalized and efficient care. Additionally, FHIR supports innovation by providing a foundation for the development of new healthcare applications and services.

Welcome to our web portal for visualizing patient data through FHIR! Whether you're a healthcare provider, a developer, or a patient seeking insights into your health information, our platform offers intuitive tools to explore and analyze FHIR data in real-time. With our user-friendly interface, you can gain valuable insights, track trends, and collaborate with care teams more effectively. Join us in harnessing the power of FHIR to transform healthcare delivery and improve patient outcomes. Start visualizing your data today!
</p>
<br>
<div id ="pageButtons"  style="text-align: center;">
{% if 'username' in session %}
<button class="w3-button w3-teal w3-xlarge" onclick="window.location.href='/FHIR-Visualization'">FHIR-Visualizer</button>
    
{% else %}
    <button class="w3-button w3-teal w3-xlarge" onclick="window.location.href='/login'">Login</button>
{% endif %}
</div>

<br>
</body>
</html>
