<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../static/fhirLogo.jpg">
    <title id="pageTitle">{% block pageTitle %}FHIR Visualiation: Dashboard {% endblock %}</title>

    <style>
      .w3-teal {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .username {
          margin-right: 20px; 
      }

      .dashboard-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      grid-auto-rows: auto auto;
      gap: 10px; 
      justify-content: center; 
      align-content: start; 
      }
  
    .grid-item {
      background-color: lightgrey;
      padding: 10px;
      text-align: center; 
      overflow: auto;
    }
    .grid-item table{
      width: 100%;
    }
  

    </style>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    


</head>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <button class="w3-button w3-block w3-left-align" id = "clinicalBtn" onclick="myAccFunc(0)">
  Clinical <i class="fa fa-caret-down"></i>
  </button>
  <div id="clinicalAcc" class="w3-hide w3-white w3-card">
    <a href="/patient" class="w3-bar-item w3-button">&#8226;Patient</a>
    <a href="/practitioner" class="w3-bar-item w3-button">&#8226;Practitioner</a> 		
    <a href="/procedure" class="w3-bar-item w3-button">&#8226;Procedure</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;CarePlan-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Goal-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Family History-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;RiskAssessment-NotImplemented</a>
  </div>
  
  <button class="w3-button w3-block w3-left-align" id="diagnosticBtn" onclick="myAccFunc(1)">
  Diagnostics-Not Implemented<i class="fa fa-caret-down"></i>
  </button>
   <div id="diagnosticAcc" class="w3-hide w3-white w3-card">
    <a href="#" class="w3-bar-item w3-button">&#8226;Observation-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Report-NotImplemented</a> 		
    <a href="#" class="w3-bar-item w3-button">&#8226;Specimen-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;ImagingStudy-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Genomics-NotImplemented</a>
    
  </div>
  
  <button class="w3-button w3-block w3-left-align" id="medicationBtn" onclick="myAccFunc(2)">
  Medications<i class="fa fa-caret-down"></i>
  </button>
   <div id="medicationAcc" class="w3-hide w3-white w3-card">
    <a href="/medRequest" class="w3-bar-item w3-button">&#8226;Medication Requests</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Dispense-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Administration-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Statement-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Immunization-Not Implemented</a>
  </div>
  
  <button class="w3-button w3-block w3-left-align" id="workflowBtn" onclick="myAccFunc(3)">
  Work Flow-Not Implemented<i class="fa fa-caret-down"></i>
  </button>
   <div id="workflowAcc" class="w3-hide w3-white w3-card">
    <a href="#" class="w3-bar-item w3-button">&#8226;Introduction + Task-Not Implemented</a>	
    <a href="#" class="w3-bar-item w3-button">&#8226;Appointment-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Schedule-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Referral-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;PlanDefinition-Not Implemented</a>
  </div>
  
  {% if role == 'admin' %}
    <button class="w3-button w3-block w3-left-align" id="financialBtn" onclick="myAccFunc(4)">
    Financial<i class="fa fa-caret-down"></i>
    </button>
    <div id="financialAcc" class="w3-hide w3-white w3-card">
      <a href="claim" class="w3-bar-item w3-button">&#8226;Claim</a>	
      <a href="#" class="w3-bar-item w3-button">&#8226;Account-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;Invoice-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;ChargeItem-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;Coverage + Eligibility-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;Request & Response-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;ExplanationOfBenefit-Not Implemented</a>
    </div>
  {% endif %}
  
</div>

<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>{% block pageHeadline %}FHIR Visualization {% endblock %}</h1>
  </div>
  <div class="username">
    <h1>{{ username }}</h1><p><a href="/logout">Logout</a></p>
  </div>
</div>

{% block content %}
<div class="w3-container">

<div class="dashboard-container" style ="text-align: center;">

</div>

    
</div>

<div class="container" style="display: flex; justify-content: space-between;">
  <div class="form-container" >
      <form id="checkboxForm"> </form>
      </div>
      </div>
<div class="result-container" style = "width: calc(67% - 20px); padding: 20px; overflow: auto;">

</div>


{% endblock %}
<div class="button-container" style="position: fixed; bottom: 0; width: 100%; text-align: center;">
  <button class="w3-button w3-teal homeButton" style="text-align: center;" onclick="window.location.href='/login'">Login</button>
  <button class="w3-button w3-teal" onclick="window.location.href='/FHIR-Visualization'">Dashboard</button>
  <button class="w3-button w3-teal" onclick="window.location.href='/'">Home Page</button>
  
</div>

</div>

<script>

// JavaScript code for form submission
document.addEventListener("DOMContentLoaded", function() {
  if(window.location.pathname !== '/FHIR-Visualization'){
        document.getElementById('checkboxForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission

            let domain = [document.getElementById('pageTitle').textContent];

            let checkboxes = document.getElementsByName('query');
            let checkedValues = [];

            // Collect checked values and their associated graph types
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    let query = checkboxes[i].value;
                    let graphType = document.querySelector(`select[name=graphType${i + 1}]`).value;
                    checkedValues.push({ query, graphType });
                }
            }
            
            
            //get adminQuery, and send to server
            
            let adminQuery = document.getElementById("adminQuery").value;
            var adminData;
            var adminGraphType;
            if(adminQuery != null){
              adminGraphType = document.querySelector("select[name=admingraphType]").value;
              adminData = {'query':adminQuery,'graphType': adminGraphType};
            }
            else{
              adminData = {}
            }
            console.log(adminQuery,"\t",adminGraphType)
            let data = JSON.stringify({checkedValues,domain,adminData})
            //send data to server
            
            fetch('/process_form', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })
            .then(response => response.json())
            .then(data => {
                console.log('Response from server:', data);
                chartResults(data)
            })
            .catch(error => {
                console.error('Error:', error);
            });

            
            
        });
    }
  });

function chartResults(chartData) {
    // Select the result container
    var resultContainer = d3.select(".result-container");
    resultContainer.html("");
    var row = null;
    // Loop through each entry in the JSON object
    chartData.result.forEach(function(entry, index) {
          
      
        // Parse the data string to convert it into JSON object
        if (typeof entry === 'object' && entry !== null) {
          var data = JSON.parse(entry.data);
          var totCharts = entry.numGraphs;
          var svg;
          
          
          // Create a new row for graphs every 2 graphs (show in rows of 2 max)
        //Also makes a row for 1st chart to put in its place
        if (index % 2 === 0 || index === 0) {
            row = resultContainer.append("div")
            .classed("row", true)
            .style("margin-bottom", "20px");
        }

      
      var chartContainer = row.append("div")
          .classed("chart-container", true)
          .style("margin-bottom", "20px")
          .style("display", "flex")
          .style("flex-direction", "column");
          createMultCharts(data, chartContainer,entry.chartType);
          
        }
    });
    
}

// Function to create a bar chart for each key in the data objects
function createMultCharts(data, chartContainer="",chartType) {
    console.log("Creating MULTIPLE(?) charts with data:", data);
    
    // Get all unique keys in the data objects
    var keys = [];
    data.forEach(function(datum) {
        Object.keys(datum).forEach(function(key) {
            if (!keys.includes(key)) {
                keys.push(key);
            }
        });
    });
    
    // Check the chart type and create corresponding chart
    switch (chartType) {
              case "bar":
                  // Create a bar chart for each key
                  keys.forEach(function(key) {
                      createBarChart(data, chartContainer, key);
                  });
              
                  break;
              case "pie":
                  // Create a bar chart for each key
                  keys.forEach(function(key) {
                      createPieChart(data, chartContainer, key);
                  });
                  break;
              case "line":
                  // Create a bar chart for each key
                  keys.forEach(function(key) {
                      createLineChart(data, chartContainer, key);
                  });
                  break;
              case "table":
                  // Create a bar chart for each key
                  keys.forEach(function(key) {
                    console.log("multiChart key is\t==",key)
                      createTable(data, chartContainer, "title", key);
                  });
                  break;
              default:
                  console.log("Unknown / unsupported chart type:", entry.chartType)
          }
    
}

function createBarChart(data, chartContainer = null, key, title = "") {
    var chartType = "bar";
    console.log("In bar chart with this data:\n", data);
    
    // Set up SVG dimensions
    var margin = { top: 30, right: 60, bottom: 70, left: 60 }, // Increased right margin to accommodate y-axis labels
        width = 460 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;
    console.log("width=", width, "\tHeight: ", height);        
    
    // Create a new SVG element for each chart
    var svg = chartContainer.append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    // Add title if provided
    if (title !== "") {
        svg.append("text")
            .attr("x", width / 2)
            .attr("y", -margin.top / 2)
            .attr("text-anchor", "middle")
            .text(title);
    }

    // Count occurrences of each unique value
    var counts = {};
    data.forEach(function(d) {
        counts[d[key]] = (counts[d[key]] || 0) + 1;
    });

    // Convert counts object into array of objects
    var processedData = Object.keys(counts).map(function(key) {
        return { x: key, y: counts[key] };
    });

    // Create scales
    var x = d3.scaleBand()
        .range([0, width])
        .padding(0.2)
        .domain(processedData.map(function(d) { return d.x; }));
    
    var y = d3.scaleLinear()
        .range([height, 0])
        .domain([0, d3.max(processedData, function(d) { return d.y; })]);
    
    // Add x-axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .selectAll("text")
        .attr("transform", "translate(-10,0)rotate(-45)")
        .style("text-anchor", "end");

    // Add y-axis
    svg.append("g")
        .call(d3.axisLeft(y));

    // Add bars
    var bars = svg.selectAll(".bar")
        .data(processedData)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.x); })
        .attr("y", function(d) { return y(d.y); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return height - y(d.y); })
        .attr("fill", "#69b3a2");

    // Add download button for the chart
    var filename = chartType + title+"_chart.png";
    var downloadButton = chartContainer.append("button") // Append download button to chart container
        .text("Download")
        .on("click", function() {
            var chart = d3.select(this.parentNode).select("svg");
            downloadChartAsImage(chart, filename);
        });

    // Add hover effect to display values
    bars.on("mouseover", function(d) {
    d3.select(this)
        .attr("fill", "orange");

    var chartSvg = d3.select(this.parentNode.parentNode); // Get the SVG containing the hovered bar
    var x = d3.scaleBand().range([0, chartSvg.attr("width")]); // Get the x scale of the chart
    var y = d3.scaleLinear().range([chartSvg.attr("height"), 0]); // Get the y scale of the chart
    
    // Find x and y positions relative to the SVG
    var xPosition = x(d.x) + parseFloat(d3.select(this).attr("x")) + x.bandwidth() / 2;
    var yPosition = y(d.y) - 10;

    // Append text to display value
    chartSvg.append("text")
        .attr("class", "value-text")
        .attr("x", xPosition)
        .attr("y", yPosition)
        .attr("text-anchor", "middle")
        .text(d.y);
})
.on("mouseout", function() {
    d3.select(this)
        .attr("fill", "#69b3a2");
    d3.select(this.parentNode.parentNode).selectAll(".value-text").remove(); // Remove value text on mouseout
});

}


function downloadChartAsImage(svgElement, filename, title="") {
  console.log("in download");
    var svgString = new XMLSerializer().serializeToString(svgElement.node()); // Access the node of svgElement
    var canvas = document.createElement("canvas");
    var context = canvas.getContext("2d");
    var DOMURL = window.URL || window.webkitURL || window;

    var img = new Image();
    var svg = new Blob([svgString], { type: "image/svg+xml;charset=utf-8" });
    var url = DOMURL.createObjectURL(svg);

    img.onload = function() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        canvas.width = img.width;
        canvas.height = img.height;
        context.drawImage(img, 0, 0);
        DOMURL.revokeObjectURL(url);

        var a = document.createElement("a");
        a.download = filename;
        a.href = canvas.toDataURL("image/png");
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    };

    img.src = url;
}

function createPieChart(data, chartContainer=null, key, title="") {
    if (!chartContainer){
      console.log("No container to append to in create PIE chart");
      return;
    }
    console.log("Pie chart with:", data);
    var chartType = "pie";
    // Set up SVG dimensions
    var margin = 40,
        width = 450,
        height = 450;

    var radius = Math.min(width, height) / 2 - margin;
    // Create a new SVG element for each chart
    var svg = chartContainer.append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    // Add title if provided
    if (title !== "") {
        svg.append("text")
            .attr("x", 0)
            .attr("y", -height / 2 - margin / 2)
            .attr("text-anchor", "middle")
            .text(title);
    }

    // Count occurrences of each unique value
    var counts = {};
    data.forEach(function(d) {
        var date = d[key]; 
        counts[date] = (counts[date] || 0) + 1;
    });
    
    var color = d3.scaleOrdinal()
        .domain(Object.keys(counts))
        .range(d3.schemeSet2);

    var pie = d3.pie()
        .value(function(d) { return d[1]; }); // Access count value correctly

    var data_ready = pie(Object.entries(counts));

    var arcGenerator = d3.arc()
        .innerRadius(0)
        .outerRadius(radius);

    var arcs = svg.selectAll('.mySlices')
        .data(data_ready)
        .enter()
        .append('path')
        .attr('d', arcGenerator)
        .attr('fill', function(d) { return color(d.data[0]); }) // Access key correctly
        .attr("stroke", "black")
        .style("stroke-width", "2px")
        .style("opacity", 0.7);

    // Add hover effect to display values
    arcs.on("mouseover", function(d) {
        d3.select(this)
            .attr("fill", "orange");

        svg.append("text")
            .attr("class", "value-text")
            .attr("x", 0)
            .attr("y", 0)
            .attr("text-anchor", "middle")
            .text(d.data[1]);
    })
    .on("mouseout", function() {
        d3.select(this)
            .attr("fill", function(d) { return color(d.data[0]); });

        svg.selectAll(".value-text").remove(); // Remove value text on mouseout
    });

    // Now add the annotation. Use the centroid method to get the best coordinates
    svg.selectAll('.mySlices')
        .data(data_ready)
        .enter()
        .append('text')
        .text(function(d) { return d.data[0]; }) // Access key correctly
        .attr("transform", function(d) { return "translate(" + arcGenerator.centroid(d) + ")"; })
        .style("text-anchor", "middle")
        .style("font-size", 17);

    // Add download button for the chart
    var filename = chartType + title+"_chart.png";
    var downloadButton = chartContainer.append("button") // Append download button to chart container
        .text("Download")
        .on("click", function() {
            var chart = d3.select(this.parentNode).select("svg");
            downloadChartAsImage(chart, filename);
        });

    downloadButton.chartSvg = svg;
}



document.addEventListener("DOMContentLoaded", function() {
  if(window.location.pathname === '/FHIR-Visualization'){
    let checkedValues = [];
    let domain = ["Patient", "Procedure", "MedicationRequest", "Claim"];

    // corrected the object literals in checkedValues.push()
    checkedValues.push({"query": "gender", "graphType": "Pie" },
          { "query": "gender", "graphType": "Number" }, {"query": "performed", "graphType": "Number" }, 
          { "query":"medType", "graphType": "Table" }, {"query": "type", "graphType" :"Bar" }, 
          { "query":"claimAmount", "graphType": "Number" }, { "query":"insurerCoverages", "graphType": "Bar" }); 

    let data = JSON.stringify({ checkedValues, domain }); // corrected the object passed to JSON.stringify

    fetch('/process_form', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => response.json())
    .then(data => {
      console.log('Response from server:', data);
      chartDashboard(data);
      
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
});


function createNumberChart(data, resultContainer, title) {
  var temp;
  var number=0;
  if ((data.data)===null){
    number =0;
  }
  else{
    temp = JSON.parse(data.data);
    number = temp.length;
  }

    // Create elements to display the title and data
    var titleElement = document.createElement('h2');
    titleElement.textContent = title;

    var dataElement = document.createElement('h1');
    dataElement.textContent = number;

    // Append the title and data elements to the target grid item
    resultContainer.node().appendChild(titleElement);
    resultContainer.node().appendChild(dataElement);
}

function chartDashboard(data) {
  // Select the result container
      var dashboardContainer = d3.select(".dashboard-container");
      var chartContainer = dashboardContainer.append("div")
                          .classed("grid-item",true)
                          .attr("id","grid-item");
                          chartContainer.style("margin-bottom", "20px")
                          .style("display", "flex")
                          .style("flex-direction", "column");

      //Number of patients
      createNumberChart(data['result'][1],chartContainer, "Current Number Of Patients")

      //Insurance claims totals
      chartContainer = dashboardContainer.append("div")
                    .classed("grid-item",true)
                    .attr("id","grid-item");
                    chartContainer.style("margin-bottom", "20px")
                    .style("display", "flex")
                    .style("flex-direction", "column");

      createNumberChart(data['result'][3],chartContainer, "Insurance Claim Total ($)")


      //Operations Performed
      chartContainer = dashboardContainer.append("div")
                    .classed("grid-item",true)
                    .attr("id","grid-item");
                    chartContainer.style("margin-bottom", "20px")
                    .style("display", "flex")
                    .style("flex-direction", "column");
      createNumberChart(data['result'][6],chartContainer, "Number of Operations Performed")

      //Claim Types
      parsedData = JSON.parse(data['result'][2].data);
      editedData=[];
      parsedData.forEach(obj=>{
        if (typeof obj === 'object' && obj !== null) {
          editedData.push(obj);
        }
      });
      chartContainer = dashboardContainer.append("div")
                    .classed("grid-item",true)
                    .attr("id","grid-item");
                    chartContainer.style("margin-bottom", "20px")
                    .style("display", "flex")
                    .style("flex-direction", "column");
            
      createBarChart(editedData,chartContainer,'claimType',"Claim Types")
      
      //Gender 
      chartContainer = dashboardContainer.append("div")
                    .classed("grid-item",true)
                    .attr("id","grid-item");
                    chartContainer.style("margin-bottom", "20px")
                    .style("display", "flex")
                    .style("flex-direction", "column");
      var parsedData = JSON.parse(data['result'][1].data);
      var editedData=[];
      parsedData.forEach(obj=>{
        if (typeof obj === 'object' && obj !== null) {
          editedData.push(obj);
        }
      });  
      createPieChart(editedData,chartContainer,'code', "Patient Gender")
      
      //Insurance provider
      parsedData = JSON.parse(data['result'][4].data);
      editedData=[];
      parsedData.forEach(obj=>{
        if (typeof obj === 'object' && obj !== null) {
          editedData.push(obj);
        }
      });
      chartContainer = dashboardContainer.append("div")
                    .classed("grid-item",true)
                    .attr("id","grid-item");
                    chartContainer.style("margin-bottom", "20px")
                    .style("display", "flex")
                    .style("flex-direction", "column");
      createBarChart(editedData,chartContainer,'InsuranceProvider',"Insurers")
      
      
      //Types of operations performed
      parsedData = JSON.parse(data['result'][7].data);
      editedData=[];
      parsedData.forEach(obj=>{
        if (typeof obj === 'object' && obj !== null) {
          editedData.push(obj);
        }
      });
      chartContainer = dashboardContainer.append("div")
                    .classed("grid-item",true)
                    .attr("id","grid-item");
                    chartContainer.style("margin-bottom", "20px")
                    .style("display", "flex")
                    .style("flex-direction", "column");
      
      createBarChart(editedData,chartContainer,'text',"Operations Performed")

      
      //Medications Used
      chartContainer = dashboardContainer.append("div")
                      .classed("grid-item",true)
                      .attr("id","grid-item");
                      chartContainer.style("margin-bottom", "20px")
                      .style("display", "flex")
                      .style("flex-direction", "column")
                      .style('overflow-y', 'auto');

      createTable(data['result'][7].data,dashboardContainer,"Medication Types",'text')
      
  
}

function createTable(data, resultContainer, title='',key) {
    // Parse the JSON string
    console.log("DATA in createTable" , data,"\nKeyis:",key)
    key = "address";
    //var parsedData = JSON.parse(data.data);

    // Create a container div
    var containerDiv = document.createElement('div');

    // Add title as h2 element
    var titleElement = document.createElement('h1');
    titleElement.textContent = title;
    containerDiv.appendChild(titleElement);

    // Create table element
    var table = document.createElement('table');

    // Apply styles for table
    table.style.border = '1px solid black';
    table.style.borderCollapse = 'collapse';
    table.style.width = '100%'; // Set width to fill container
    table.style.maxHeight = 'calc(40px)'; // Limit table height to fit container, subtracting title height and some margin
    table.style.overflowY = 'auto'; // Enable vertical scroll

    // Set to store unique entries
    var uniqueEntries = new Set();

    // Create table rows for each unique entry
    data.forEach(function(entry) {
        if(key in entry){
          var text = entry[key];
          if (!uniqueEntries.has(text) && text != null) {
              var row = table.insertRow();
              var cell = row.insertCell();
              cell.textContent = text;
              cell.style.border = '1px solid black';
              cell.style.padding = '4px';
              if (text.length > 30) {
                  row.style.overflowX = 'auto'; // Horizontal scroll
                  row.style.maxWidth = '10px';
              }
              uniqueEntries.add(text); // Add entry to set
          }
        }
      });

    // Append the table to the container div
    containerDiv.appendChild(table);

    // Append the container div to the result container
    resultContainer.node().appendChild(containerDiv);

    
}

/*
function createTable(data, resultContainer, title='', keys) {
    // Create a container div
    var containerDiv = document.createElement('div');

    // Add title as h2 element
    var titleElement = document.createElement('h1');
    titleElement.textContent = title;
    containerDiv.appendChild(titleElement);

    // Create table element
    var table = document.createElement('table');

    // Apply styles for table
    table.style.border = '1px solid black';
    table.style.borderCollapse = 'collapse';
    table.style.width = '100%'; // Set width to fill container
    table.style.maxHeight = 'calc(40px)'; // Limit table height to fit container, subtracting title height and some margin
    table.style.overflowY = 'auto'; // Enable vertical scroll

    // Set to store unique entries
    var uniqueEntries = new Set();

    // Create table rows for each unique entry
    data.forEach(function(entry) {
        // Check if all keys exist in the entry object
        var hasAllKeys = keys.every(function(key) {
            return key in entry;
        });

        // If all keys exist, create a row for the entry
        if (hasAllKeys) {
            var row = table.insertRow();

            // Iterate over the keys and create a cell for each key/value pair
            keys.forEach(function(key) {
                var cell = row.insertCell();
                cell.textContent = entry[key];
                cell.style.border = '1px solid black';
                cell.style.padding = '4px';
            });

            // Add the entry to the set of unique entries
            uniqueEntries.add(JSON.stringify(entry));
        }
    });

    // Append the table to the container div
    containerDiv.appendChild(table);

    // Append the container div to the result container
    resultContainer.node().appendChild(containerDiv);
}
*/



function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
function myAccFunc(tabIndex) {
  var x = document.getElementById("clinicalAcc");
  var y = document.getElementById("diagnosticAcc");
  var z = document.getElementById("medicationAcc");
  var a = document.getElementById("workflowAcc");
  var b = document.getElementById("financialAcc");

  switch(tabIndex) {
    case 0:
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        document.getElementById("clinicalBtn").classList.add("w3-green");
      } else { 
        x.className = x.className.replace(" w3-show", "");
        document.getElementById("clinicalBtn").classList.remove("w3-green");
      }
      break;
    case 1:
      if (y.className.indexOf("w3-show") == -1) {
        y.className += " w3-show";
        document.getElementById("diagnosticBtn").classList.add("w3-green");
      } else { 
        y.className = y.className.replace(" w3-show", "");
        document.getElementById("diagnosticBtn").classList.remove("w3-green");
      }
      break;
    case 2:
      if (z.className.indexOf("w3-show") == -1) {
        z.className += " w3-show";
        document.getElementById("medicationBtn").classList.add("w3-green");
      } else { 
        z.className = z.className.replace(" w3-show", "");
        document.getElementById("medicationBtn").classList.remove("w3-green");
      }
      break;
    case 3:
      if (a.className.indexOf("w3-show") == -1) {
        a.className += " w3-show";
        document.getElementById("workflowBtn").classList.add("w3-green");
      } else { 
        a.className = a.className.replace(" w3-show", "");
        document.getElementById("workflowBtn").classList.remove("w3-green");
      }
      break;
    case 4:
      if (b.className.indexOf("w3-show") == -1) {
        b.className += " w3-show";
        document.getElementById("financialBtn").classList.add("w3-green");
      } else { 
        b.className = b.className.replace(" w3-show", "");
        document.getElementById("financialBtn").classList.remove("w3-green");
      }
      break;
    }
}

</script>


</body>
</html>

