<!DOCTYPE html>
<html>
<head>
    <script src="../application.py"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block pageTitle %}FHIR Visualiation: Dashboard {% endblock %}</title>

    <style>
      .w3-teal {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .username {
          margin-right: 20px; /* Adjust the margin as needed */
      }
    </style>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <button class="w3-button w3-block w3-left-align" id = "clinicalBtn" onclick="myAccFunc(0)">
  Clinical <i class="fa fa-caret-down"></i>
  </button>
  <div id="clinicalAcc" class="w3-hide w3-white w3-card">
    <a href="/patient" class="w3-bar-item w3-button">&#8226;Patient</a>
    <a href="/practitioner" class="w3-bar-item w3-button">&#8226;Practitioner</a> 		
    <a href="/procedure" class="w3-bar-item w3-button">&#8226;Procedure</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;CarePlan-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Goal-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Family History-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;RiskAssessment-NotImplemented</a>
  </div>
  
  <button class="w3-button w3-block w3-left-align" id="diagnosticBtn" onclick="myAccFunc(1)">
  Diagnostics-Not Implemented<i class="fa fa-caret-down"></i>
  </button>
   <div id="diagnosticAcc" class="w3-hide w3-white w3-card">
    <a href="#" class="w3-bar-item w3-button">&#8226;Observation-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Report-NotImplemented</a> 		
    <a href="#" class="w3-bar-item w3-button">&#8226;Specimen-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;ImagingStudy-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Genomics-NotImplemented</a>
    
  </div>
  
  <button class="w3-button w3-block w3-left-align" id="medicationBtn" onclick="myAccFunc(2)">
  Medications<i class="fa fa-caret-down"></i>
  </button>
   <div id="medicationAcc" class="w3-hide w3-white w3-card">
    <a href="/medRequest" class="w3-bar-item w3-button">&#8226;Medication Requests</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Dispense-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Administration-NotImplemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Statement-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Immunization-Not Implemented</a>
  </div>
  
  <button class="w3-button w3-block w3-left-align" id="workflowBtn" onclick="myAccFunc(3)">
  Work Flow-Not Implemented<i class="fa fa-caret-down"></i>
  </button>
   <div id="workflowAcc" class="w3-hide w3-white w3-card">
    <a href="#" class="w3-bar-item w3-button">&#8226;Introduction + Task-Not Implemented</a>	
    <a href="#" class="w3-bar-item w3-button">&#8226;Appointment-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Schedule-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;Referral-Not Implemented</a>
    <a href="#" class="w3-bar-item w3-button">&#8226;PlanDefinition-Not Implemented</a>
  </div>
  
  {% if role == 'admin' %}
    <button class="w3-button w3-block w3-left-align" id="financialBtn" onclick="myAccFunc(4)">
    Financial<i class="fa fa-caret-down"></i>
    </button>
    <div id="financialAcc" class="w3-hide w3-white w3-card">
      <a href="claim" class="w3-bar-item w3-button">&#8226;Claim</a>	
      <a href="#" class="w3-bar-item w3-button">&#8226;Account-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;Invoice-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;ChargeItem-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;Coverage + Eligibility-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;Request & Response-Not Implemented</a>
      <a href="#" class="w3-bar-item w3-button">&#8226;ExplanationOfBenefit-Not Implemented</a>
    </div>
  {% endif %}
  
</div>

<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>{% block pageHeadline %}FHIR Visualization {% endblock %}</h1>
  </div>
  <div class="username">
    <h1>{{ username }}</h1><p><a href="/logout">Logout</a></p>
  </div>
</div>

<div class="w3-container">

{% block content %}
<p>Welcome, {{ username }}!</p>
<p>The Idea is for this to be a dashboard page with some general charts, and then the other pages can grab sepcifics</p>
    <form action="/FHIR-Visualizer" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required><br>
        <input type="submit" value="Upload">
    </form>
    
    {% if uploaded_filename %}
    <a href="/download/{{ uploaded_filename }}">Download Your File</a>
    {% endif %}
</div>
<button class="w3-button w3-teal homeButton" style="text-align: center;" onclick="window.location.href='/'">Homepage</button>
<button class="w3-button w3-teal homeButton" style="text-align: center;" onclick="window.location.href='/login'">Login</button>

{% endblock %}
<div class="button-container" style="position: fixed; bottom: 0; width: 100%; text-align: center;">
  <button class="w3-button w3-teal" onclick="window.location.href='/FHIR-Visualization'">Dashboard</button>
  <button class="w3-button w3-teal" onclick="window.location.href='/'">Home Page</button>
</div>

</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
function myAccFunc(tabIndex) {
  var x = document.getElementById("clinicalAcc");
  var y = document.getElementById("diagnosticAcc");
  var z = document.getElementById("medicationAcc");
  var a = document.getElementById("workflowAcc");
  var b = document.getElementById("financialAcc");

  switch(tabIndex) {
    case 0:
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        document.getElementById("clinicalBtn").classList.add("w3-green");
      } else { 
        x.className = x.className.replace(" w3-show", "");
        document.getElementById("clinicalBtn").classList.remove("w3-green");
      }
      break;
    case 1:
      if (y.className.indexOf("w3-show") == -1) {
        y.className += " w3-show";
        document.getElementById("diagnosticBtn").classList.add("w3-green");
      } else { 
        y.className = y.className.replace(" w3-show", "");
        document.getElementById("diagnosticBtn").classList.remove("w3-green");
      }
      break;
    case 2:
      if (z.className.indexOf("w3-show") == -1) {
        z.className += " w3-show";
        document.getElementById("medicationBtn").classList.add("w3-green");
      } else { 
        z.className = z.className.replace(" w3-show", "");
        document.getElementById("medicationBtn").classList.remove("w3-green");
      }
      break;
    case 3:
      if (a.className.indexOf("w3-show") == -1) {
        a.className += " w3-show";
        document.getElementById("workflowBtn").classList.add("w3-green");
      } else { 
        a.className = a.className.replace(" w3-show", "");
        document.getElementById("workflowBtn").classList.remove("w3-green");
      }
      break;
    case 4:
      if (b.className.indexOf("w3-show") == -1) {
        b.className += " w3-show";
        document.getElementById("financialBtn").classList.add("w3-green");
      } else { 
        b.className = b.className.replace(" w3-show", "");
        document.getElementById("financialBtn").classList.remove("w3-green");
      }
      break;
  }
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>


</body>
</html>

