{% extends "fhir_vizualizer.html" %}
{% block pageTitle %}Practitioner{% endblock %}
{% block pageHeadline %}Practitioner Visualization{% endblock %}

{% block content %}

<div class="container" style = "display: flex; justify-content: space-between;">
    <div class="form-container" style="width: calc(33% - 20px); background-color: lightgrey; padding: 10px; border: 1px solid grey;">
        <form id="checkboxForm">
            <label><input type="checkbox" name="query" value="gender"> Gender</label><br>
            <div id="followUp1" class="follow-up">
                <label>Graph Type:
                    <select name="graphType1">
                        <option value="bar">Bar Chart</option>
                        <option value="pie">Pie Chart</option>
                    </select>
                </label>
            </div>
            <br>
            <label><input type="checkbox" name="query" value="address"> Address</label><br>
            <div id="followUp2" class="follow-up">
                <label>Graph Type:
                    <select name="graphType2">
                        <option value="bar">Bar Chart</option>
                        <option value="line">Line Chart</option>
                        <option value="pie">Pie Chart</option>
                    </select>
                </label>
            </div>
            <br>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="result-container" style = "width: calc(67% - 20px); padding: 20px;">
        To display Graphs Here
    </div>
</div>
{% endblock %}
